.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.hidden-message {
    display: none;
}

.form-btn {
    width: 150px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}

.accept-btn {
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.cancel-btn {
    background-color: lightgrey;
}

.back-btn {
    position: absolute;
    z-index: -1;
}