* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #3E9BD1;
    --happy-face: #FFCD00;
    --sad-face: #FF532B;
}

body {
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}